<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>

</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">your name</h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">play</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Institute 1</td>
                <td>Sed ut perspiciatis <strong>unde omnis iste natus </strong>error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
            </tr>
            <tr>
                <td>Institute 2</td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
            </tr>
            <tr>
                <td>Institute 3</td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
            </tr>            
            <tr>
                <td>Institute 4</td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
            </tr>
        </table>
        <a href="../static/your_resume.pdf" target="_blank">My resume (pdf)</a>
    </div>
    <footer>        
        <p id="copyYear">designed 🎨 and coded 👩🏻‍💻 by your name &copy; </p>
    </footer>
</body>
</html>