<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout Example</title>
    <link rel="stylesheet" href="../static/template.css" />
</head>
<body>
    <div class="containers">
        <header class="header">Header</header>
        <nav class="nav">Navigation</nav>
    
        <main class="main">
          <div class="mainimg">Main Image</div>
          <div class="maincontent">Main Content</div>
          <div class="bottomcontent">Bottom Content</div>
        </main>
    
        <footer class="footer">Footer</footer>
    </div>
</body>
</html>