* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: white;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color:#92ad70;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
 }
 
 table tr:nth-child(even) {
    background-color: lightgray;
 }
 
form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#FavList {
    display: none;
 }
 #SeeMoreBTN{
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size:large;
 }

 #shortIntro {
    display: block;
 }
 
 #readLess, #longIntro {
    display: none;
 }
 
 #readLess, #readMore {
    font-style: italic;
    background-color: lightgrey;
 }
 
 #ValidateMsg {
    width: max-content;
    margin: auto;
 }