* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: white;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color:#92ad70;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
 }
 
 table tr:nth-child(even) {
    background-color: lightgray;
 }
 
form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
/*
#FavList {
    display: none;
 }
*/

 #SeeMoreBTN{
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size:large;
 }

 #shortIntro {
    display: block;
 }
 
 #readLess, #longIntro {
    display: none;
 }
 
 #readLess, #readMore {
    font-style: italic;
    background-color: lightgrey;
 }
 
 #ValidateMsg {
    width: max-content;
    margin: auto;
 }

 .funIMG {
    border-radius: 100%; /* Makes the element circular if it's a square */
    width: 75%; /* Sets the element’s width to 20% of its containing element */
    /* border:1px dotted grey; */
 }

 .container {
   display: inline-block;
   border-radius: 10%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container button {
   padding: 10px 15px;
   border: none;
   background-color: #92ad70;
   color: white;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
}

.container button:hover {
   background-color: darkgrey;
}

 /* The below setup creates a flexible, responsive layout where four items are aligned in a row, 
 but they wrap to the next line if needed */

 .mainLayout {
   display: flex; /* Enables Flexbox layout for the container */
   flex-wrap: wrap; /* Allows child elements to wrap onto new lines if necessary */
   flex-direction: row; /* Aligns child elements in a horizontal row */
}

#item1, #item2, #item3, #item4 {
   width: 40vw; /* Sets the width of each item to 40% of the viewport width */
   margin: auto; /* Centers the items horizontally within the flex container */
}